.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    padding: 20px;
  }
  
  .logo {
    height: 4px; /* Tamanho inicial da logo */
    max-width: 7%;
    height: auto; /* Para manter a proporção */
  }
  
  .header h1 {
    color: #ff0000;
  }
  
  .header ul {
    display: flex;
    list-style: none;
  }
  
  .header ul li {
    margin-right: 20px;
  }
  
  .header ul li a {
    color: #ffffff;
    text-decoration: none;
  }
  
  /* Responsividade para telas menores */
  @media (max-width: 768px) {
    .header {
      flex-direction: column;
      text-align: center;
    }
  
    .header ul {
      flex-direction: column;
      margin-top: 20px;
    }
  
    .logo {
      height: 8px; /* Tamanho menor para telas pequenas */
    }
  }
  
